service.wsdl

<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!-- <definitions name="UserService" -->
<!--              targetNamespace="http://www.examples.com/wsdl/UserService.wsdl" -->
<!--              xmlns="http://schemas.xmlsoap.org/wsdl/" -->
<!--              xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" -->
<!--              xmlns:tns="http://www.examples.com/wsdl/UserService.wsdl" -->
<!--              xmlns:xsd="http://www.w3.org/2001/XMLSchema"> -->
    
<!--     <!-1- Define the User complex type -1-> -->
<!--     <xsd:schema targetNamespace="http://www.examples.com/wsdl/UserService.wsdl"> -->
<!--         <xsd:complexType name="User"> -->
<!--             <xsd:sequence> -->
<!--                 <xsd:element name="id" type="xsd:int"/> -->
<!--                 <xsd:element name="name" type="xsd:string"/> -->
<!--                 <xsd:element name="email" type="xsd:string"/> -->
<!--             </xsd:sequence> -->
<!--         </xsd:complexType> -->
<!--     </xsd:schema> -->

<!--     <!-1- Define messages for CRUD operations -1-> -->
<!--     <message name="CreateUserRequest"> -->
<!--         <part name="user" type="tns:User"/> -->
<!--     </message> -->
<!--     <message name="CreateUserResponse"> -->
<!--         <part name="status" type="xsd:string"/> -->
<!--     </message> -->
<!--     <message name="GetUserRequest"> -->
<!--         <part name="id" type="xsd:int"/> -->
<!--     </message> -->
<!--     <message name="GetUserResponse"> -->
<!--         <part name="user" type="tns:User"/> -->
<!--     </message> -->
<!--     <message name="UpdateUserRequest"> -->
<!--         <part name="user" type="tns:User"/> -->
<!--     </message> -->
<!--     <message name="UpdateUserResponse"> -->
<!--         <part name="status" type="xsd:string"/> -->
<!--     </message> -->
<!--     <message name="DeleteUserRequest"> -->
<!--         <part name="id" type="xsd:int"/> -->
<!--     </message> -->
<!--     <message name="DeleteUserResponse"> -->
<!--         <part name="status" type="xsd:string"/> -->
<!--     </message> -->
    
<!--     <!-1- Define the port type and operations -1-> -->
<!--     <portType name="UserPortType"> -->
<!--         <operation name="CreateUser"> -->
<!--             <input message="tns:CreateUserRequest"/> -->
<!--             <output message="tns:CreateUserResponse"/> -->
<!--         </operation> -->
<!--         <operation name="GetUser"> -->
<!--             <input message="tns:GetUserRequest"/> -->
<!--             <output message="tns:GetUserResponse"/> -->
<!--         </operation> -->
<!--         <operation name="UpdateUser"> -->
<!--             <input message="tns:UpdateUserRequest"/> -->
<!--             <output message="tns:UpdateUserResponse"/> -->
<!--         </operation> -->
<!--         <operation name="DeleteUser"> -->
<!--             <input message="tns:DeleteUserRequest"/> -->
<!--             <output message="tns:DeleteUserResponse"/> -->
<!--         </operation> -->
<!--     </portType> -->
    
<!--     <!-1- Define the binding -1-> -->
<!--     <binding name="UserBinding" type="tns:UserPortType"> -->
<!--         <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/> -->
<!--         <operation name="CreateUser"> -->
<!--             <soap:operation soapAction="CreateUser"/> -->
<!--             <input> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </input> -->
<!--             <output> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </output> -->
<!--         </operation> -->
<!--         <!-1- Define similar bindings for other operations -1-> -->
<!--         <operation name="GetUser"> -->
<!--             <soap:operation soapAction="GetUser"/> -->
<!--             <input> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </input> -->
<!--             <output> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </output> -->
<!--         </operation> -->
<!--         <operation name="UpdateUser"> -->
<!--             <soap:operation soapAction="UpdateUser"/> -->
<!--             <input> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </input> -->
<!--             <output> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </output> -->
<!--         </operation> -->
<!--         <operation name="DeleteUser"> -->
<!--             <soap:operation soapAction="DeleteUser"/> -->
<!--             <input> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </input> -->
<!--             <output> -->
<!--                 <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> -->
<!--             </output> -->
<!--         </operation> -->
<!--     </binding> -->
    
<!--     <!-1- Define the service and endpoint -1-> -->
<!--     <service name="UserService"> -->
<!--         <port binding="tns:UserBinding" name="UserPort"> -->
<!--             <soap:address location="http://localhost:8001/UserService"/> -->
<!--         </port> -->
<!--     </service> -->
<!-- </definitions> -->







<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UserService"
             targetNamespace="http://www.examples.com/wsdl/UserService.wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.examples.com/wsdl/UserService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Define the Product complex type -->
    <xsd:schema targetNamespace="http://www.examples.com/wsdl/UserService.wsdl">
        <xsd:complexType name="Product">
            <xsd:sequence>
                <xsd:element name="productId" type="xsd:int"/>
                <xsd:element name="productName" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

        <!-- Define the User complex type with products -->
        <xsd:complexType name="User">
            <xsd:sequence>
                <xsd:element name="id" type="xsd:int"/>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="email" type="xsd:string"/>
                <xsd:element name="products" type="xsd:sequence">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="product" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:schema>

    <!-- Define messages for CRUD operations -->
    <message name="CreateUserRequest">
        <part name="user" type="tns:User"/>
    </message>
    <message name="CreateUserResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="GetUserRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="GetUserResponse">
        <part name="user" type="tns:User"/>
    </message>
    <message name="UpdateUserRequest">
        <part name="user" type="tns:User"/>
    </message>
    <message name="UpdateUserResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="DeleteUserRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="DeleteUserResponse">
        <part name="status" type="xsd:string"/>
    </message>

    <!-- Define the port type and operations -->
    <portType name="UserPortType">
        <operation name="CreateUser">
            <input message="tns:CreateUserRequest"/>
            <output message="tns:CreateUserResponse"/>
        </operation>
        <operation name="GetUser">
            <input message="tns:GetUserRequest"/>
            <output message="tns:GetUserResponse"/>
        </operation>
        <operation name="UpdateUser">
            <input message="tns:UpdateUserRequest"/>
            <output message="tns:UpdateUserResponse"/>
        </operation>
        <operation name="DeleteUser">
            <input message="tns:DeleteUserRequest"/>
            <output message="tns:DeleteUserResponse"/>
        </operation>
    </portType>

    <!-- Define the binding -->
    <binding name="UserBinding" type="tns:UserPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateUser">
            <soap:operation soapAction="CreateUser"/>
            <input>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <!-- Define similar bindings for other operations -->
        <operation name="GetUser">
            <soap:operation soapAction="GetUser"/>
            <input>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="UpdateUser">
            <soap:operation soapAction="UpdateUser"/>
            <input>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="DeleteUser">
            <soap:operation soapAction="DeleteUser"/>
            <input>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.examples.com/wsdl/UserService.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <!-- Define the service and endpoint -->
    <service name="UserService">
        <port binding="tns:UserBinding" name="UserPort">
            <soap:address location="http://localhost:8001/UserService"/>
        </port>
    </service>
</definitions>
